.sidebar {
  background: black;
  width: 208px;
  height: calc(100vh - 12px);
  padding: 12px 16px 0px 16px;
  flex-direction: column;
  justify-content: start;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}
.logo {
  margin-top: 36px;
  width: 111.457px;
  height: 16px;
  margin-bottom: 32px;
}

.tab {
  display: flex;
  padding: 11px 16px;
  justify-content: start;
  align-items: flex-start;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background: rgba(255, 199, 86, 0.103);
  }
  img {
    width: 14px;
    height: 14px;
  }
  span {
    color: white;
  }
}
