.WeatherBtn {
  display: flex;
  font-family: Inter;
  font-size: 13.75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  align-items: center;
  margin-right: 22px;
  cursor: pointer;
  div {
    display: flex;
    flex-direction: column;
  }
}
